.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    width: 100%;
    height: 44%;
    font-size: 20px;
    cursor: pointer;
    user-select: none;
}

.words {
    font-size: 30px;
    font-weight: bold;
    padding: 4em;
}

.definitions {
    font-size: 20px;
    padding: 4em;
}