.collection-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(154, 194, 154);
    width: 100%;
    height: 28%;
    font-size: 20px;
}

.bar {
    
    background-color: grey;
    border-radius: px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    text-justify: center;
}
.c-box1 {
    margin: auto;
    width: 25%;
}
.c-box2 {
    background-color: aliceblue;
    margin: auto;
    width: 50%;
    padding-top: 1em;
    padding-bottom: 1em;
}
.c-box3 {
    margin: auto;
    
    width: 25%;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    width: 100%;
}

.dropbtn {
    width: 100%;
    height: 100%;
}

.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover div:hover {background-color: green;}

.dropdown-content li {
    background-color: white;
    list-style-type: none;
}